@model IEnumerable<TeamComeback_V2.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>
<p>
    <a href="/TeamComeback_V2/Account/Register/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add New</a>
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm fa fa-edit" }) 
            </td>
        </tr>
    }

</table>


