
@{
    ViewBag.Title = "Admin's Actions";
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row">
        <a href="/TeamComeback_V2/RolesAdmin/Index/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Manage Roles</a>
    </div>
    <br/>
    <div class="row">
        <a href="/TeamComeback_V2/UsersAdmin/Index/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Manage Users</a>
    </div>
</div>

