@{ ViewBag.Title = "About Us"; }
<h2>@ViewBag.Title.</h2>
<h3>Mission and Philosophy</h3>
<br>
<h4>Our approach:</h4>
<p>
    A Life Participation Approach to Aphasia – LPAA SCC does everything it can to assist survivors and their families
    offering a path that allows them to re-engage in life. We do this with the Life Participation Approach to Aphasia: everyone
    affected by aphasia is entitled to service, at all stages of recovery, and success is measured by overcoming personal and environmental
    barriers. We believe that all survivors deserve a community that respects and supports them.
</p>
<br>
<h4>Our philosophy:</h4>
<p>
    SCC stands for Stroke Comeback Center. We believe that strokes happen to the entire family. We offer support to the entire family
    through ongoing programs, our resource center and our day-to-day interactions.We have found that one of the primary advantages of joining our community
    is improved confidence: confidence in all aspects of recovery. Whether a goal is to return to work, take a walk, give a public presentation,
    tell a joke, or tell your friends and family that you love them, our classes and use of technology give survivors the confidence to meet their personal goals.
    All of our services are offered at the Center, a place for survivors and their families; a place where people with aphasia can communicate with peers
    who share their experiences and needs; a place that encourages self-sufficiency and independence; a home away from home.
</p>
<br>
<p>Browse our website for more information or call the Center with any questions.</p>
<p><a class="btn btn-default" href="https://strokecomebackcenter.org/">Learn more &raquo;</a></p>
