@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EF Security Shell</h1>
    <p class="lead">This is a starting project that contains the foundations needed to use Entity Framework to manage website users and roles.  
    Portions of this program where developed as part of Chapter 7 of the ASP.NET MVC with Entity Famework and CSS book by Lee Naylor</p>
    <p>
        The identity database is seeded with two accounts and two roles to begin with:
        <ul>
            <li>Admin Role Login=admin@efshell.com, Password=password</li>
            <li>User Role Login=user@efshell.com, Password=password</li>
        </ul>
    </p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, volutpat prodesset est in, vix officiis splendide interesset id. His perfecto sensibus cu, duo cu suavitate intellegebat. Ius munere admodum noluisse ne, cu prodesset persecuti definiebas mel. Pro agam elit eu. Animal consequuntur est no, et enim honestatis neglegentur eos.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>