@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Stroke Comeback Center!</h2>
        <p>
            The Stroke Comeback Center is a community of survivors of stroke and other brain trauma committed to living successful
            and productive lives. We are a non-profit organization that offers support along the slow road to better. Our members,
            our professionals, our volunteers, our coaches, and our families know that recovery continues forever. We are the only
            center of this kind in the Washington, DC area.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Center:</h2>
        <ul>
            <li>Provides programs and classes for survivors with aphasia and other communication difficulties using a social approach</li>
            <li>Focuses on all aspects of recovery: speech, reading, writing and comprehension, cognition and fitness</li>
            <li>Uses interactive technologies tailored to each of our members</li>
            <li>Continues to provide affordable fees through donor-funded scholarships</li>

        </ul>
    </div>
    <div class="col-md-4">
        <h2>Group that Work:</h2>
        <ul>
            <li>Has received national recognition for our accomplishments and innovation</li>
            <li>Believes that all survivors deserve the respect and the support needed to live successfully and participate fully in life</li>
        </ul>
        <p><a class="btn btn-default" href="https://strokecomebackcenter.org/">Learn more &raquo;</a></p>
    </div>
</div>
<p>@DateTime.Now - Client Time</p>