body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Logo {
    height: 150px;
    width: 275px;
    border-radius: 0px;
    padding: 2px;
}

.right {
    float: right;
    margin: 0px 0px 2px 10px;
}

@media screen and (max-width: 600px) {
    .right {
        float: none;
        margin: 0px 10px 2px 10px;
    }
}

.socialMedia {
    padding-top: 2px;
    height: 41px;
    width: 40px;
    align-items: center;
}

.instagram {
    margin-top: 4px;
    height: 34px;
    width: 35px;
    border: 2px solid white;
    border-radius: 2px;
}

.to-top {
    background-color: #e9ecef;
    position: fixed;
    bottom: 50px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 50px;
    pointer-events: auto;
    opacity: 1;
}

html {
    scroll-behavior: smooth;
}
